<template>
  <!-- <pre>{{item | json}}</pre> -->
  <div class="Educational__list__item">
    <article class="card Box__educational">
      <div class="card-body clearfix">
        <div class="Box__educational__image__container">
          <img :src="item.featured_img.xs">
          <h3 class="Box__educational__title c-white text-uppercase">
          	{{item.educational.title}}
          </h3>
        </div>
        <div class="Box__educational__article c-white p-10">
          <div class="Box__educational__article__title">
            <a class="p-relative z-i-4">{{item.title}}</a>
          </div>
          <div class="Box__educational__article__meta f-12">
     				<a class="p-relative z-i-4">
     					{{item.category.title}}
     				</a> | {{item.published_at | moment "DD.MM.YYYY"}}
          </div>
        </div>
      </div>
      <a data-snitch="educational-box-redirect" class="fullBox" v-link="{ name: 'educational', params: { slug: item.educational.slug }}" title="Przejdź do publikacji {{item.title}}">
        <span>{{ item.title }}</span>
      </a>
    </article>
  </div>
</template>
<script>
export default {
  props: [
    'item'
  ]
}
</script>
