<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="block-header">
        <h3>Wkrótce</h3>
      </div>
    </div>
  </div>
  <div class="card" style="background: tranparent">
    <div class="card-body card-padding">
      <div class="row">
        <ul class="list-unstyled">
          <li class="col-xs-12">
            <article class="clearfix Simple__list__article">
              <div class="List__article__image__container">
                <img :src="item.featured_img.xs" class="Simple__list__article__picture">
              </div>
              <div class="Simple__list__article__content">
                <h3 class="Simple__list__article__title">
              		{{item.title}}
              	</h3>
                <p class="Simple__list__article__excerpt">{{ item.excerpt }}</p>
                <div class="Simple__list__article__meta c-red">
                	Materiał dostępny od {{ item.published_at | moment "DD.MM.YYYY" }}
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    'item'
  ]
}
</script>
