<template>
  <div class="block-header hidden-xs hidden-sm" v-if="list.length">
    <h2>Programy edukacyjne</h2>
  </div>
  <div class="Educational__slider swiper-container">
    <div class="Educational__slider--wrapper">
      <article class="card Box__educational swiper-slide" v-for="article in list">
        <div class="card-body clearfix">
          <div class="Box__educational__image__container">
            <img :src="article.featured_img.xs" alt="{{article.title}}" />
            <h3 class="Box__educational__title c-white text-uppercase">
              {{article.educational.title}}
            </h3>
            <span v-if="article.educational.sponsor" class="Box__educational__sponsor">Na program edukacyjny zaprasza <span class="no-break">{{ article.educational.sponsor.title }}</span></span>
          </div>
          <div class="Box__educational__article c-white p-10">
            <div class="Box__educational__article__title">
              <a class="p-relative z-i-4">{{ article.title  }}</a>
            </div>
            <div class="Box__educational__article__meta f-12">
              <a class="p-relative z-i-4">{{ article.category.title  }}</a> | {{ article.published_at | moment "DD.MM.YYYY" }}
            </div>
          </div>
        </div>
        <a @click="report(article)" data-snitch="featured-educational-redirect" class="fullBox" v-link="{ name: 'educational', params: { slug: article.educational.slug }}" title="Przejdź do programu edukacyjnego {{article.educational.title}}"></a>
      </article>
    </div>
    <div class="swiper-pagination"></div>
    <!-- <pre>{{list | json}}</pre> -->
  </div>
</template>
<script>
import {
  getApi,
  getN4DUser
} from '../../vuex/getters'
import Swiper from 'swiper'
import 'swiper/dist/css/swiper.min.css'
export default {
  data: function() {
    return {
      resource: this.$resource(this.api + 'educationals/featured'),
      list: []
    }
  },
  vuex: {
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  created() {
    this.fetchFeaturedEducationals()
  },
  methods: {
    fetchFeaturedEducationals() {
      this.resource.get().then((response) => {
        this.list = response.data
        if (this.mq.matches) {
          this.initializeSwiper()
        }
      })
    },
    initializeSwiper() {
      setTimeout(function() {
        Swiper('.Educational__slider', {
          wrapperClass: 'Educational__slider--wrapper',
          slideClass: 'Box__educational',
          loop: true,
          autoplay: 5000,
          speed: 300,
          autoplayDisableOnInteraction: true,
          // If we need pagination
          pagination: '.swiper-pagination'
        })
      }, 100)
    },
    report: function(article) {
      window.ga('send', 'event', {
        eventCategory: this.$route.path,
        eventAction: this.n4dUser.email,
        eventLabel: article.slug
      })
    }
  },
  computed: {
    mq: function() {
      return window.matchMedia('(max-width: 992px)')
    }
  }
}
</script>
<style scoped>
.swiper-container {
  margin: 0 -10px;
}

@media only screen and (min-width: 992px) {
  .swiper-container {
    margin: 0 auto;
  }
}

.Educational__slider .swiper-pagination {
  bottom: 114px;
}

@media only screen and (min-width: 992px) {
  .Educational__slider .swiper-pagination {
    bottom: 130px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .Educational__slider .swiper-pagination {
    width: 70%;
    bottom: 10%;
  }
}
</style>
