<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div class="col-xs-12">
          <div class="clearfix row">
            <educational-box :item="item" v-for="item in list"></educational-box>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import EducationalBox from './Box'
import Breadcrumbs from '../Breadcrumbs'
import {
  getApi
} from '../../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../../vuex/actions'
export default {
  components: {
    Breadcrumbs,
    EducationalBox
  },
  data() {
    return {
      resource: this.$resource(this.api + 'educationals'),
      list: []
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi
    }
  },
  created() {
    this.startLoader()
    this.fetchEducationals()
  },
  methods: {
    fetchEducationals() {
      this.resource.get({
        page: this.page
      }).then((response) => {
        this.list = response.data
        this.handleBreadcrumbs()
        this.finishLoader()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'educationals',
        slug: 'programy-edukacyjne',
        title: 'Programy edukacyjne'
      }])
    }
  }
}
</script>
