<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="block-header">
        <h3>Odsłony programu</h3>
      </div>
    </div>
  </div>
  <div class="card" style="background: tranparent">
    <div class="card-body card-padding">
      <div class="row">
        <ul class="list-unstyled">
          <li class="col-xs-12" v-for="article in items">
            <simple-list-element :item="article" breadcrumb-parent="educational"></simple-list-element>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import SimpleListElement from '../articles/SimpleListElement'
export default {
  components: {
    SimpleListElement
  },
  props: [
    'items'
  ]
}
</script>
