<template>
  <div class="m-b-20">
  	<a data-snitch="advert-redirect" href="{{item.link}}" title="{{item.title}}" target="{{item.target}}">
  		<img :src="item.featured_img.xs">
  	</a>
  </div>
</template>
<script>
export default {
  props: [
    'item'
  ]
}
</script>
