<template>
	<advert :item="item" v-for="item in list"></advert>
</template>
<script>
import {
  getApi
} from '../../vuex/getters'
import Advert from './Advert'
export default {
  components: {
    Advert
  },
  data: function() {
    return {
      resource: this.$resource(this.api + 'adverts'),
      list: []
    }
  },
  vuex: {
    getters: {
      api: getApi
    }
  },
  created() {
    this.fetchAdverts()
  },
  methods: {
    fetchAdverts() {
      this.resource.get({

      }).then((response) => {
        this.list = response.data
      })
    }
  }
}
</script>
