<template>
  <!-- <pre>{{item | json}}</pre> -->
  <article class="clearfix Simple__list__article Featured__list__article">
    <div class="List__article__image__container List__article__image__container--featured">
      <img v-if="item.featured_img.xs"
        :src="item.featured_img.xs"
        class="Simple__list__article__picture" 
        alt="{{item.title}}" 
      />
      <img v-if="!item.featured_img.xs"class="Simple__list__article__picture" src="../../assets/img/default.jpg">
    </div>
    <div class="Simple__list__article__content Featured__list__article__content">
      <h3 class="Simple__list__article__title Featured__list__article__title">
        <span>{{ item.title }}</span>
      </h3>
      <p class="Simple__list__article__excerpt visible-xs visible-sm">{{ item.excerpt }}</p>
      <div class="Simple__list__article__meta Featured__list__article__meta f-12">
        <a class="p-relative z-i-4">{{ item.category.title  }}</a> | {{item.published_at | moment "DD.MM.YYYY"}}
      </div>
    </div>
    <a data-snitch="featured-list-redirect" @click="report()" class="fullBox" v-link="{ name: 'article', params: { articleSlug: item.slug }}" title="Przejdź do publikacji {{item.title}}">
      <span>{{ item.title }}</span>
    </a>
  </article>
</template>
<script>
import {
  getN4DUser
} from '../../vuex/getters'
export default {
  props: [
    'item'
  ],
  methods: {
    report: function() {
      window.ga('send', 'event', {
        eventCategory: 'Homepage',
        eventAction: this.n4dUser.email,
        eventLabel: 'featured-first-redirect'
      })
    }
  },
  vuex: {
    getters: {
      n4dUser: getN4DUser
    }
  }
}
</script>
