<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="block-header">
        <h3>Może zainteresują Cię również</h3>
      </div>
    </div>
  </div>
  <div class="card" style="background: tranparent">
    <div class="card-body card-padding">
      <div class="row">
        <ul class="cleared">
          <li class="col-xs-12" v-for="article in items">
            <simple-list-element :item="article" :breadcrumb-parent="breadcrumbParent"></simple-list-element>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import SimpleListElement from './SimpleListElement'
export default {
  components: {
    SimpleListElement
  },
  props: [
    'items',
    'breadcrumbParent'
  ]
}
</script>
