<template>
  <!-- <pre>{{item | json}}</pre> -->
  <article class="clearfix Simple__list__article">
    <div v-show="item.featured_img && item.featured_img.xs" class="List__article__image__container">
      <img
        :src="item.featured_img.xs"
        class="Simple__list__article__picture" 
        alt="{{item.title}}" 
      />
    </div>
    <div class="Simple__list__article__content">
      <h3 class="Simple__list__article__title">
        <span>{{ item.title }}</span>
      </h3>
      <p class="Simple__list__article__excerpt">{{ item.excerpt }}</p>
      <div class="Simple__list__article__meta f-10">
        <a class="p-relative z-i-4" data-toggle="tooltip" data-placement="top" data-original-title="Zobacz wszystkie publikacje związane z {{item.category.title}}" v-link="{ name: 'category', params: { slug: item.category.slug }}">{{ item.category.title  }}</a> | {{item.published_at | moment "DD.MM.YYYY"}}
      </div>
    </div>
    <a @click="report(item)" class="fullBox" v-link="redirect" title="Przejdź do publikacji {{item.title}}">
      <span>{{ item.title }}</span>
    </a>
  </article>
</template>
<script>
import {
  getN4DUser
} from '../../vuex/getters'
export default {
  methods: {
    report: function(article) {
      window.ga('send', 'event', {
        eventCategory: this.$route.path,
        eventAction: this.n4dUser.email,
        eventLabel: article.slug
      })
    }
  },
  props: [
    'item',
    'breadcrumbParent'
  ],
  computed: {
    redirect() {
      let redirect = {
        name: 'article',
        params: {
          articleSlug: this.item.slug
        }
      }
      if (this.breadcrumbParent === 'category') {
        redirect.name = 'categoryArticle'
      }
      if (this.breadcrumbParent === 'tag' && this.item.tags) {
        redirect.name = 'tagArticle'
      }
      if (this.breadcrumbParent === 'educational' && this.item.educational) {
        redirect.name = 'educationalArticle'
      }
      if (this.breadcrumbParent === 'sponsor' && this.item.sponsor) {
        redirect.name = 'sponsorArticle'
      }

      return redirect
    }
  },
  vuex: {
    getters: {
      n4dUser: getN4DUser
    }
  }
}
</script>
