<template>
  <div class="card articleTabs" v-if="article.references || article.files.length">
    <div class="card-body">
      <ul class="tab-nav tn-justified tn-icon" role="tablist">
        <li v-if="article.references" role="presentation" class="active col-sx-6">
          <a class="" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">
            <i class="zmdi zmdi-library icon-tab"> <span class="bebas">Piśmiennictwo</span></i>
          </a>
        </li>
        <li v-if="article.files.length" role="presentation" :class="{ 'active' : !article.references }" class="col-sx-6">
          <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">
            <i class="zmdi zmdi-attachment-alt icon-tab"> <span class="bebas">Materiały do pobrania</span></i>
          </a>
        </li>
      </ul>
      <div class="tab-content p-20">
        <div v-if="article.references" role="tabpanel" class="tab-pane animated fadeIn in active f-13" id="tab-1">
          {{{article.references}}}
        </div>
        <div v-if="article.files.length" role="tabpanel" :class="{ 'active' : !article.references }" class="tab-pane animated fadeIn" id="tab-2">
          <ol>
            <li v-for="file in article.files">
              <a :href="file.path" title="Pobierz {{file.filename}}" target="_blank">
                  {{file.filename}}
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    'article'
  ]
}
</script>
<style lang="less" scoped>
  ol {
    font-size: 14px;
  }
  .bebas{
    font-family: "bebasneue";
  }
</style>
