.Simple__list__article{
	position: relative;
	padding-bottom: @grid-gutter-width;
	padding-top: @grid-gutter-width;
	border-bottom: 1px solid #ccc;
}
@media (max-width: @screen-md-min){
	.featured{
		background-color: #ebebeb;
	}
}
.Simple__list__article__excerpt{
	font-family: 'Roboto Condensed';
}
li:last-child .Simple__list__article{
	border-bottom: 0;
}
li:first-child .Simple__list__article:not(.Featured__list__article){
	padding-top: @grid-gutter-width/2;
}

.List__article__image__container{
	position: relative;
	float: left;
	width: 40%;
	margin: 0 @grid-gutter-width/2 0 0;
}
@media (min-width: @screen-sm-min){
	.List__article__image__container{
		width: 30%;
	}
}
@media (min-width: @screen-md-min){
	.List__article__image__container{
		width: 22%;
	}
}
.Simple__list__article__content{
	padding-bottom: @grid-gutter-width/2;
}
.Simple__list__article__title{
	font-size: 16px;
	margin-bottom: .5em;
	font-weight: 700;
}
.Simple__list__article__meta{
	position: absolute;
	bottom: @grid-gutter-width/2;
	right: @grid-gutter-width/2;
}
@media (min-width: @screen-md-min){
	.Simple__list__article__title{
		font-size: 18px;
		font-family: Roboto Condensed;
	}

	@article-title-lines: 3;
	.Featured__list__article{
		border-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: @grid-gutter-width;
		height: 279px;
		background-color: @m-n4d-blue;
		img{
      transition: all 700ms;  
    }
		&:hover img{
			transform: scale(1.1, 1.1);
		}
	}
	.List__article__image__container--featured{
		width: 100%;
		overflow: hidden;
	    height: 169px;
		float: none;
		margin: 0;
	}
	.Featured__list__article__content{
		padding: @grid-gutter-width/2;
	}
	@List__article__image__container--featured-0-width: 498px;
	.Featured__list__article--0{
		.List__article__image__container--featured{
			width: @List__article__image__container--featured-0-width;
			height: 279px;
			overflow: hidden;
			float: left;
		}
		.Featured__list__article__title{
			height: auto;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			padding: @grid-gutter-width/2;
			font-weight: 500;
			font-family: 'BebasNeue';
			font-size: @font-size-h2;
			width: @List__article__image__container--featured-0-width;
			span{
				position: relative; 
				z-index: 3; 
			}
			&:after{
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(17, 50, 87, 0.45);
			    z-index: 2;
			    -moz-transition: all .2s ease-in;
			    -o-transition: all .2s ease-in;
			    -webkit-transition: all .2s ease-in;
		  	}
		}
		.Featured__list__article__meta{
			max-width: 100px;
		}
	}
	
	.Featured__list__article__title{
		color: #fff;
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-size: 18px;
		height: 18px*@line-height-base*@article-title-lines;
		margin: 0 auto;
		-webkit-line-clamp: @article-title-lines;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.Featured__list__article__meta{
		color: #fff;
	}
}
@media (min-width: @screen-lg-min){
	.Featured__list__article{
		height: 318px;
	}
	.List__article__image__container--featured{
	   height: 208px;
	}
	@List__article__image__container--featured-0-width: 568px;
	.Featured__list__article--0{
		.List__article__image__container--featured{
			width: @List__article__image__container--featured-0-width;
			height: 318px;
		}
		.Featured__list__article__title{
			width: @List__article__image__container--featured-0-width;
		}
		.Simple__list__article__excerpt{
			display: block!important;
			color: #fff;
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    line-height: 18px;
		    font-size: 14px;
		    left: 580px;
			height: 250px;
			margin: 0 auto;
			-webkit-line-clamp: 14;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;


		}
		.Featured__list__article__meta{
			max-width: 100px;
		}
	}
}
@media (min-width: @screen-xlg-min){
	.Simple__list__article__title{
		font-size: 20px;
	}

	.Simple__list__article__excerpt{
		font-size: 16px;
	}
	.Featured__list__article__excerpt{
		font-size: @font-size-base;
	}
	.Featured__list__article{
		height: 324px;
	}
	.List__article__image__container--featured{
	   height: 214px;
	}

	@List__article__image__container--featured-0-width: 576px;
	.Featured__list__article--0{
		.Simple__list__article__excerpt{
		    left: 590px;
		}
		.List__article__image__container--featured{
			width: @List__article__image__container--featured-0-width;
			height: 324px;
		}
		.Featured__list__article__title{
			width: @List__article__image__container--featured-0-width;
		}
		.Featured__list__article__meta{
			max-width: 180px;
		}
	}
}


/*
    Bootstrap Carousel to Fade instead of slide
*/
.carousel{
	.carousel-caption{
		padding-right: @grid-gutter-width/2;
		padding-left: @grid-gutter-width/2;
	}
	.carousel-indicators {
	    background: transparent;
	    li.active{
	    	background: @m-n4d-blue;
	    }
	}
} 
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}