.N4dArticle{
	font-size: 16px;
	line-height: 20px;
}
.N4dArticle__title{
    font-family: "bebasneue";
}
.N4dTags{
	font-size: 13px;
}
.n4d-gallery-thumb{
	margin-bottom: @grid-gutter-width;
}
.n4d-partner-container{
	display: flex;
    justify-content: space-around;
    align-items: center;
    .box{
    	padding: @grid-gutter-width/2;
    }
}
@media (min-width: @screen-md-min){
	.N4dArticle{
		font-size: 20px;
		line-height: 28px;
	}
}
.articleTabs{
	li{
		word-wrap: break-word;
		margin-bottom: @grid-gutter-width/2;
	}
}
@media (max-width: @screen-sm-min){
	#showArticle{
		margin-top: @grid-gutter-width/2;
	}
}