.Educational__slider {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;
  .swiper-pagination{
  	bottom: 120px;
  }
  .swiper-pagination-bullet{
    background-color: #fff;
  }
  .swiper-pagination-bullet-active{
    background-color: @m-n4d-orange;
  }
}
@media (min-width: (@screen-md-min)){
  .Educational__slider {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.Box__educational{
  background-color: @m-n4d-orange;
  margin-bottom: 0;
}
@media (max-width: @screen-md-min) {
  .Educational__slider--wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .Box__educational{
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;    
  }
}
@media (min-width: (@screen-md-min)) {
  .Box__educational{
    margin-bottom: @grid-gutter-width;
    position: relative;
    img{
      transition: all 700ms;  
    }
    &:hover img{
      transform: scale(1.1, 1.1);
    }
  }
}

.Box__educational__image__container{
	position: relative;
	&:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 50, 87, 0.45);
    z-index: 2;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
  }
}
@educational-title-size: 40px;
@educational-title-lines: 3;
@educationals-line-height: 1;
.Box__educational__title{
	position: absolute;
  top: @grid-gutter-width/2;
	bottom: @grid-gutter-width/2;
	left: @grid-gutter-width/2;
	right: @grid-gutter-width/2;
	z-index: 3;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  font-family: 'BebasNeue';
  text-shadow: 1px 1px 1px #000;
  line-height: @educationals-line-height;
  font-size: @educational-title-size;
  height: @educational-title-size*@educationals-line-height*@educational-title-lines;
  margin: 0 auto;
  -webkit-line-clamp: @educational-title-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Box__educational__sponsor{
  position: absolute;
  bottom: @grid-gutter-width;
  left: @grid-gutter-width/2;
  right: @grid-gutter-width/2;
  line-height: 12px;
  color: #fff;
  z-index: 3;
}
.Box__educational__article{
	height: 110px;
	overflow: hidden;
}
@article-title-lines: 3;
.Box__educational__article__title{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  height: 18px*@line-height-base*@article-title-lines;
  margin: 0 auto;
  -webkit-line-clamp: @article-title-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Box__educational__article__meta{
	position: absolute;
	right: @grid-gutter-width/2;
	bottom: @grid-gutter-width/2;
}
@media only screen and (min-width:@screen-sm-min) and (max-width: @screen-md-min)   {
  .Box__educational__image__container{
    float: left;
    width: 70%
  }
  @educational-title-size: @font-size-h3*1.5;
  .Box__educational__article{
    height: 250px;
  }
  @article-title-lines: 10;
  .Box__educational__article__title{
    font-size: @font-size-base * 1.3;
    line-height: @line-height-base * 1.1;
    height: @font-size-base* 1.3*@line-height-base*1.1*@article-title-lines;
    -webkit-line-clamp: @article-title-lines;
  }
  .Box__educational__article__meta{
    position: absolute;
    right: @grid-gutter-width/2;
    bottom: @grid-gutter-width/2;
    font-size: @font-size-base * 1.1;
    max-width: 200px;
  }
  .Box__educational__sponsor{
    bottom: 5px;
  }
  .Educational__slider{
    .swiper-pagination{
      width: 70%;
      bottom: 10%;      
    }
  }
}
@media only screen and (min-width:@screen-md-min){
  .Educational__slider{
    .swiper-pagination{
      // display: none;   
    }
  }
  .Box__educational__image__container{
    overflow: hidden;
    height: 169px;
  }  
  .Box__educational__sponsor{
    bottom: @grid-gutter-width;
    font-size: 13px;
  }
}
@media only screen and (min-width:@screen-lg-min){
  .Box__educational__image__container{
    height: 208px;
  }
}
@media only screen and (min-width:@screen-hd-min){
  .Box__educational__image__container{
    height: 214px;
  }
}
