.Educational__list__item{
	margin-bottom: @grid-gutter-width;
}
@media (min-width: @screen-md-min){
	.Educational__list__item{
		width: 300px;
		float: left;
		margin-left: @grid-gutter-width/2;
		margin-right: @grid-gutter-width/2;
	}
}
@media (min-width: @screen-lg-min){
	.Educational__list__item{
		width: 370px;
	}
}
@media (min-width: @screen-hd-min){
	.Educational__list__item{
		width: 380px;
	}
}