@font-face {
  font-family: 'BebasNeue';
  src: url('../../fonts/bebas/BebasNeue.eot');
  src: url('../../fonts/bebas/BebasNeue.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bebas/BebasNeue.woff') format('woff'),
  url('../../fonts/bebas/BebasNeue.ttf') format('truetype'),
  url('../../fonts/bebas/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}