@media (max-width: @screen-md-min){
	#fflex{
		display: -webkit-flex;
	   display: flex;
	   -webkit-flex-direction: column; 
	   flex-direction: column;
	}
	#fedu{
		order: 0;
	}
	#fmain{
		order: 1;
	}
	#fadv{
		order: 2;
	}
}