/*
 * Block Header
 * Used for Heading outside the Cards.
 */
.block-header {
    margin-top: @grid-gutter-width;
    margin-bottom: @grid-gutter-width/2;
    position: relative;

    & > h1, & > h2, & > h3, & > h4 {
        font-size: 14px;
        color: #5E5E5E;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;

        & > small {
            display: block;
            text-transform: none;
            margin-top: 8px;
            margin-bottom: 20px;
            color: #9E9E9E;
            line-height: 140%;
        }
    }

    .actions {
        position: absolute;
        right: 10px;
        top: -5px;
        z-index: 4;
    }
}

/*
 * Header Actions
 */
.actions {
    list-style: none;
    padding: 0;
    z-index: 3;
    margin: 0;

    & > li {
        display: inline-block;
        vertical-align: baseline;
    }

    & > li > a,
    & > a {
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        padding-top: 5px;

        & > i {
            color: #adadad;
            font-size: 20px;
        }

        &:hover {
            & > i {
                color: #000;
            }
        }

        .hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
    }

    & > li.open,
    &.open {
        & > a {
            & > i {
                color: #000;
            }

            &:before {
                .scale(1);
                .opacity(1);
            }
        }
    }

    &.actions-alt {
        & > li {
            & > a > i {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }

            &.open {
                & > a {
                    & > i {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.open {
        z-index: 3;
    }
}

/*
 * Collapse Menu Icons
 */
.line-wrap {
    width: 18px;
    height: 12px;
    .transition(all);
    .transition-duration(300ms);
    margin: 12px 20px;

    .line{
        width: 18px;
        height: 2px;
        .transition(all);
        .transition-duration(300ms);

        &.center {
            margin: 3px 0;
        }
    }
}

&.open {
    .line-wrap {
        .rotate(180deg);

        .line {
            &.top {
                width: 12px;
                transform: translateX(8px) translateY(1px) rotate(45deg);
                -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
            }

            &.bottom {
                width: 12px;
                transform: translateX(8px) translateY(-1px) rotate(-45deg);
                -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
            }
        }
    }
}

/*
 * Load More
 */
.load-more {
    text-align: center;
    margin-top: 30px;

    a {
        padding: 5px 10px 3px;
        display: inline-block;
        background-color: @m-red;
        color: #FFF;
        border-radius: 2px;
        white-space: nowrap;

        i {
            font-size: 20px;
            vertical-align: middle;
            position: relative;
            margin-top: -2px;
        }

        &:hover {
            background-color: darken(@m-red, 10%);
        }
    }
}

ul.cleared, ol.cleared{
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe{
  max-width: 100%;
}

a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  color: inherit;
  &:hover, &:focus{
    text-decoration: none;
    color: inherit;
  }
  &.fullBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 3;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
  }
}

img{
  border: 0;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  &.lazyload{
    opacity: 0;
    //transform: scale(0.75);
    transition: opacity .3s ease-in;
  }
  &.lazyloaded{
    opacity: 1;
    //transform: scale(1);
    transition: all 700ms;
  }
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
