.n4d-box{
	position: relative;
}

.layer-title{
    position: absolute;
	left: 0;
	bottom: 0;
    padding: 40px 25px 15px;
    color: #fff;
	width: 100%;
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.3) 65%,rgba(0,0,0,.3) 100%);
}

.layer-category{
    position: absolute;
	left: 0;
	top: 0;
    padding: 15px 25px 25px;
    color: #fff;
    font-size: 1.3em;
    width: 100%;
    background: linear-gradient(to top,transparent 0,rgba(0,0,0,.3) 65%,rgba(0,0,0,.3) 100%);
}