.N4d__answer{
    word-wrap: break-word;
}
.N4d__question--checked{
	.N4d__answer--correct{
		color: @m-teal;
	}
	.N4d__answer--incorrect.picked{
		color: @m-red;
	}
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}