@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.eot');
  src: url('BebasNeue.eot?#iefix') format('embedded-opentype'),
       url('BebasNeue.woff') format('woff'),
       url('BebasNeue.ttf') format('truetype'),
       url('BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

