<template>
  <div class="card">
    <div class="card-header ch-alt clearfix bgm-n4d-orange">
      <h2 class="pull-left" style="max-width: 90%;">
        {{widget.content.title}}
      </h2>
    </div>
    <div class="card-body card-padding">
      <div class="lightbox row">
        <div v-for="slide in widget.content.slides" :data-src="slide.featured_img.md" class="col-xs-6 col-sm-2 m-b-20" :data-sub-html="slide.label">
          <div class="lightbox-item">
            <img :src="slide.featured_img.xs" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
import $ from 'jquery.2'
import 'lightgallery'
import 'lightgallery/dist/js/lg-thumbnail'
import 'lightgallery/dist/js/lg-fullscreen'
import 'lightgallery/dist/js/lg-zoom'
import 'lightgallery/dist/js/lg-hash'
import 'lightgallery/dist/css/lightgallery.css'
export default {
  props: [
    'widget'
  ],
  ready() {
    $('.lightbox').lightGallery({
      thumbnail: true
    })
  }
}
</script>
<style lang="less">
 
</style>