<template>
  <div class="card-body card-padding" v-for="widget in widgets">
    <note v-if="widget.widget_type === 'note'" :widget="widget"></note>
    <quiz v-if="widget.widget_type === 'questionnaire'" :widget="widget"></quiz>
    <!-- <player v-if="widget.widget_type === 'player'" :widget="widget"></player> -->
    <n4d-player v-if="widget.widget_type === 'player'" :widget="widget"></n4d-player>
    <gallery v-if="widget.widget_type === 'slider' && widget.content.render_style === 'withThumbnails'" :widget="widget"></gallery>
    <n4d-slider v-if="widget.widget_type === 'slider' && widget.content.render_style === 'withoutThumbnails'" :widget="widget"></n4d-slider>
  </div>
  <!-- <pre>{{widgets | json}}</pre> -->
</template>
<script>
import Note from './Note'
import Quiz from './Quiz'
import Gallery from './Gallery'
import Slider from './Slider'
import Player from './Player'
import N4dPlayer from './N4dPlayer'
import N4dSlider from './N4dSlider'
export default {
  components: {
    Note,
    Quiz,
    Gallery,
    Slider,
    Player,
    N4dPlayer,
    N4dSlider
  },
  props: [
    'widgets'
  ]
}
</script>
