<template>
  <div class="card" :class="{ 'card-full-screen' : fullScreenMode }">
    <div class="card-header clearfix bgm-n4d-orange">
      <ul class="buttons clearfix">
        <li class="pull-left">
          <a href="javascript:;" @click="play()" v-show="isPaused">
            <i class="c-white zmdi zmdi-caret-right-circle"></i>
          </a>
          <a href="javascript:;" @click="pause()" v-show="!isPaused">
            <i class="c-white zmdi zmdi-pause"></i>
          </a>
        </li>
        <li class="pull-left">
          <a href="javascript:;" @click="toggleVideocam()">
            <i class="c-white zmdi" :class="{ 'zmdi-videocam-off' : videocam, 'zmdi-videocam' : !videocam }"></i>
          </a>
        </li>
        <li class="pull-left">
          <a href="javascript:;" @click="toggleVideoMode()">
            <i class="c-white zmdi zmdi-swap" ></i>
          </a>
        </li>
        <li class="pull-right">
          <a href="javascript:;" @click="toggleCardFullScreenMode()">
            <i class="c-white zmdi" :class="{ 'zmdi-fullscreen-exit' : fullScreenMode, 'zmdi-fullscreen' : !fullScreenMode }"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body card-padding" :class="{ 'video-100' : videoMode }">
      <div class="video-container" :class="{ 'videocam-off' : !videocam }">
        <video class="video-js vjs-fluid vjs-default-skin" preload="auto" :poster="widget.content.poster">
          <source :src="widget.content.videoPath" type="video/mp4" />
        </video>
      </div>
      <ul id="lightSlider">
        <li v-for="slide in widget.content.slides" :data-thumb="slide.featured_img.sm" :data-start="slide.start_at">
          <img :src="slide.featured_img.md">
        </li>
      </ul>
    </div>
    <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
import $ from 'jquery.2'
import 'lightslider'
import 'lightslider/dist/css/lightslider.css'
import videojs from 'video.js'
import 'video.js/dist/video-js.css'
import {
  getFullScreenMode
} from '../../vuex/getters'
import {
  toggleFullScreenMode
} from '../../vuex/actions'
export default {
  vuex: {
    actions: {
      toggleFullScreenMode: toggleFullScreenMode
    },
    getters: {
      fullScreenMode: getFullScreenMode
    }
  },
  data: function() {
    return {
      gallery: null,
      activeSlide: 1,
      currentStartAt: 0,
      currentIntTime: 0,
      player: null,
      isPaused: true,
      videocam: true,
      videoMode: false,
      setup: {
        controls: false,
        aspectRatio: '16:9',
        controlBar: {
          fullscreenToggle: false
        }
      }
    }
  },
  props: [
    'widget'
  ],
  ready() {
    this.initializeSlider()
    this.initializePlayer()
  },
  methods: {
    toggleVideocam() {
      this.videocam = !this.videocam
    },
    toggleVideoMode() {
      this.videoMode = !this.videoMode
    },
    play() {
      this.player.play()
    },
    onPlay() {
      this.isPaused = false
    },
    pause() {
      this.player.pause()
      this.isPaused = true
    },
    onPause() {
      this.isPaused = true
    },
    toggleCardFullScreenMode() {
      this.toggleFullScreenMode()
      this.refreshGallery()
    },
    refreshGallery() {
      let _this = this
      setTimeout(function() {
        _this.gallery.refresh()
      }, 100)
    },
    initializeSlider() {
      let _this = this
      $(document).ready(function() {
        _this.gallery = $('#lightSlider').lightSlider({
          item: 1,
          keyPress: true,
          gallery: true,
          slideMargin: 0,
          vThumbWidth: 50,
          thumbMargin: 4,
          onAfterSlide: function(el) {
            _this.activeSlide = _this.gallery.getCurrentSlideCount()
            let currentTime = _this.widget.content.slides[_this.activeSlide - 1].start_at
            _this.setCurrentTime(currentTime)
            _this.currentIntTime = parseInt(currentTime)
          }
        })
      })
    },
    initializePlayer() {
      let _this = this
      videojs(document.getElementsByClassName('video-js')[0], _this.setup, function() {
        this.on('timeupdate', function() {
          let intTime = parseInt(this.currentTime())
          if (intTime > _this.currentIntTime) {
            _this.updateGalleryByPlayer(intTime)
          }
        })
        this.on('play', function() {
          _this.onPlay()
        })
        this.on('pause', function() {
          _this.onPause()
        })
        _this.player = this
      })
    },
    setCurrentTime(time) {
      this.player.currentTime(time)
    },
    updateGalleryByPlayer(currentTime) {
      this.currentIntTime += 1
      if (currentTime >= parseInt(this.widget.content.slides[this.activeSlide].start_at)) {
        this.gallery.goToSlide(this.activeSlide)
      }
    }
  },
  computed: {}
}
</script>
<style lang="less" scoped>
@import '../../assets/less/inc/variables';
.card-header {
  padding: 10px;
}

.card-body {
  position: relative;
}

.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttons a {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  &:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale3d(0, 0, 0);
    transition: all;
    transition-duration: 250ms;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &:hover:before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.buttons .zmdi {
  font-size: 20px;
}

.video-container {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 160px;
  height: 90px;
  z-index: 1;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all .3s linear;
}

.video-container.videocam-off {
  opacity: .1;
}

.video-100 .video-container{
  position: relative;
  width: 100%;
  top: 0;
  box-shadow: 0 0 0 0;
  right: 0;
  height: auto;
}
.video-100 #lightSlider{
  display: none;
}
.video-100 .vjs_video_3-dimensions.vjs-fluid {
    padding-top: calc(~"100vh - 235px") !important;
}

@media (min-width: @screen-xlg-min) {
  .video-container {
    width: 320px;
    height: auto;
  }
}

@media (min-width: @screen-sm-min) {
  .buttons a {
    width: 40px;
    height: 40px;
  }
  .buttons .zmdi {
    font-size: 30px;
  }
}

@media (min-width: @screen-hd-min) {
  .buttons a {
    width: 48px;
    height: 48px;
  }
  .buttons .zmdi {
    font-size: 40px;
  }
}

.card.card-full-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .card-body {
    height: calc(~"100vh - 60px");
  }
  .lSSlideOuter {
    height: calc(~"100vh - 60px")!important;
  }
}

.full-screen-mode {
  #lightSlider {
    height: calc(~"100vh - 200px")!important;
    li {
      height: calc(~"100vh - 200px")!important;
      text-align: center;
    }
    img {
      width: auto;
      max-height: 100%;
    }
  }
  .lSPager.lSGallery {
    li {
      opacity: .7;
    }
  }
}
</style>
