<template>
  <div class="card" :class="{ 'card-full-screen' : fullScreenMode }">
    <div class="card-header clearfix bgm-n4d-orange">
      <ul class="buttons clearfix">
        <li class="pull-left c-white">
          {{currentSlide}} / {{gallery.getTotalSlideCount()}}
        </li>
        <li class="pull-right">
          <a href="javascript:;" @click="toggleCardFullScreenMode()">
            <i class="c-white zmdi" v-bind:class="{ 'zmdi-fullscreen-exit' : fullScreenMode, 'zmdi-fullscreen' : !fullScreenMode }"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
    	<ul id="lightSlider">
        <li v-for="slide in widget.content.slides" :data-thumb="slide.featured_img.xs">
          <img :src="slide.featured_img.lg">
        </li>
      </ul>
    </div>
  </div>
  <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
import $ from 'jquery.2'
import 'lightslider'
import 'lightslider/dist/css/lightslider.css'
import {
  getFullScreenMode
} from '../../vuex/getters'
import {
  toggleFullScreenMode
} from '../../vuex/actions'
export default {
  vuex: {
    actions: {
      toggleFullScreenMode: toggleFullScreenMode
    },
    getters: {
      fullScreenMode: getFullScreenMode
    }
  },
  data: function() {
    return {
      gallery: null,
      currentSlide: 1
    }
  },
  props: [
    'widget'
  ],
  ready() {
    this.initializeSlider()
  },
  methods: {
    toggleCardFullScreenMode() {
      this.toggleFullScreenMode()
      this.refreshGallery()
    },
    refreshGallery() {
      let _this = this
      setTimeout(function() {
        _this.gallery.refresh()
      }, 100)
    },
    initializeSlider() {
      let _this = this
      $(document).ready(function() {
        _this.gallery = $('#lightSlider').lightSlider({
          onAfterSlide: function (el) {
            _this.currentSlide = el.getCurrentSlideCount()
          },
          item: 1,
          keyPress: true,
          gallery: true,
          slideMargin: 0,
          responsive: [{
            breakpoint: 800,
            settings: {
              vThumbWidth: 50,
              thumbMargin: 4
            }
          }]
        })
      })
    }
  }
}
</script>
<style lang="less" >
@import '../../assets/less/inc/variables';
.card-header {
  padding: 10px;
}

.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttons a {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  &:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale3d(0, 0, 0);
    transition: all;
    transition-duration: 250ms;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &:hover:before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.buttons .zmdi {
  font-size: 20px;
}

@media (min-width: @screen-sm-min) {
  .buttons a {
    width: 40px;
    height: 40px;
  }
  .buttons .zmdi {
    font-size: 30px;
  }
}

@media (min-width: @screen-hd-min) {
  .buttons a {
    width: 48px;
    height: 48px;
  }
  .buttons .zmdi {
    font-size: 40px;
  }
}

.card.card-full-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .card-body {
    height: calc(~"100vh - 60px");
  }
  .lSSlideOuter {
    height: calc(~"100vh - 60px")!important;
  }
}

.full-screen-mode {
  #lightSlider {
    height: calc(~"100vh - 200px")!important;
    margin-top: 20px;
    li {
    	height: calc(~"100vh - 200px")!important;
      text-align: center;
    }
    img {
      width: auto;
      max-height: 100%;
    }    
  }  
  
}
</style>
