<template>
  <div class="card n4d-card">
    <div class="card-header ch-alt clearfix bgm-n4d-orange">
      <ul class="actions">
        <li v-show="isPaused">
          <a href="javascript:;" @click="play()">
            <i class="c-white zmdi zmdi-caret-right-circle"></i>
          </a>
        </li>
        <li v-show="!isPaused">
          <a href="javascript:;" @click="pause()">
            <i class="c-white zmdi zmdi-pause"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;" @click="toggleGridMode()">
            <i class="c-white zmdi zmdi-view-comfy"></i>
          </a>
        </li>
        <li v-if="!gridMode">
          <a href="javascript:;" @click="toggleSlideMode()">
            <i class="c-white zmdi zmdi-swap"></i>
          </a>
        </li>
        <!--         <li class="pull-right">
          <a href="javascript:;" @click="toggleFullScreen()">
            <i class="c-white zmdi" v-bind:class="{ 'zmdi-fullscreen-exit' : fullScreenMode, 'zmdi-fullscreen' : !fullScreenMode }"></i>
          </a>
        </li>
 -->
      </ul>
    </div>
    <div class="n4d-swiper card-body card-padding" v-bind:class="{ 'grid-mode' : gridMode }">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="slide in widget.content.slides" @click="setCurrentTime(parseInt(slide.start_at))">
            <img v-bind:src="slide.featured_img.sm" />
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="n4d-player card-body card-padding" v-bind:class="{ 'grid-mode' : gridMode }">
      <div v-bind:class="{ 'side-content' : slideMode }">
        <video class="video-js vjs-fluid vjs-default-skin" preload="auto" :poster="widget.content.poster">
          <source :src="widget.content.videoPath" type="video/mp4" />
        </video>
      </div>
      <div class="current-slide-container" :class="{ 'side-content' : !slideMode }">
        <img :src="slideMode ? currentSlide.featured_img.md : currentSlide.featured_img.xs">
      </div>
    </div>
  </div>
  <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
import videojs from 'video.js'
import 'video.js/dist/video-js.css'
import 'videojs-watermark'
import 'videojs-watermark/dist/videojs-watermark.css'
import Swiper from 'swiper'
import 'swiper/dist/css/swiper.min.css'
import {
  getSponsor
} from '../../vuex/getters'
export default {
  data: function() {
    return {
      player: null,
      swiper: false,
      gridMode: true,
      fullScreenMode: false,
      slideMode: false,
      isPaused: true,
      timer: 0,
      setup: {
        controls: true,
        aspectRatio: '16:9',
        controlBar: {
          fullscreenToggle: false
        }
      }
    }
  },
  props: [
    'widget'
  ],
  vuex: {
    getters: {
      getSponsor: getSponsor
    }
  },
  ready: function() {
    let _this = this
    videojs(document.getElementsByClassName('video-js')[0], _this.setup, function() {
      this.on('timeupdate', function() {
        _this.timer = parseInt(this.currentTime())
      })
      this.on('play', function() {
        _this.onPlay()
      })
      this.on('pause', function() {
        _this.onPause()
      })
      _this.player = this
    }).watermark({
      image: _this.getSponsor.logo,
      url: 'http://wp.pl',
      fadeTime: 100
    })
    this.initializeSwiper()
    this.toggleGridMode()
  },
  methods: {
    toggleSlideMode() {
      this.slideMode = !this.slideMode
    },
    toggleGridMode() {
      this.gridMode = !this.gridMode
    },
    initializeSwiper() {
      this.swiper = Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 30
      })
    },
    play() {
      this.player.play()
      this.isPaused = false
    },
    onPlay() {
      this.isPaused = false
    },
    pause() {
      this.player.pause()
      this.isPaused = true
    },
    onPause() {
      this.isPaused = true
    },
    setCurrentTime(time) {
      this.player.currentTime(time)
    }
  },
  computed: {
    currentSlide() {
      let _this = this
      let max = _this.widget.content.slides[0]
      _this.widget.content.slides.forEach(function(slide) {
        if (parseInt(slide.start_at) <= parseInt(_this.timer)) {
          max = slide
        }
      })
      return max
    }
  }
}
</script>
<style lang="less">
#vjs-watermark {
  top: 1em;
  right: 1em;
  max-width: 90px;
}

.n4d-swiper {
  display: none;
  &.grid-mode {
    display: block;
  }
}

.n4d-player.grid-mode {
  display: none;
}

.card.card-fullscreen {
  z-index: 10060;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  .video-js {
    padding-top: 48%;
  }
}

.n4d-card {
  .actions {
    position: relative;
    top: 0;
    right: 0;
    a {
      height: 40px;
      width: 40px;
    }
    i {
      font-size: 30px;
    }
  }
  .n4d-pause {
    position: relative;
    top: -7px;
  }
}

@media (min-width: 1920px) {
  .n4d-card {
    .actions {
      a {
        height: 50px;
        width: 50px;
      }
      i {
        font-size: 40px;
      }
      span {
        font-size: 30px;
      }
    }
  }
}

.n4d-player {
  position: relative;
}

.video-js .vjs-tech {
  background-color: #fff;
}

#vjs-watermark {
  top: 1em;
  right: 1em;
  max-width: 90px;
}

.side-content {
  position: absolute;
  bottom: 3em;
  right: 1em;
  width: 100px!important;
  height: 60px!important;
  padding-top: 0!important;
  overflow: hidden;
  #vjs-watermark {
    display: none;
  }
  .vjs-control-bar {
    display: none;
  }
  .vjs-big-play-button {
    display: none;
  }
  img {
    width: 100%;
  }
}

.current-slide-container {
  text-align: center;
  img {
    max-height: 100%;
    width: auto;
  }
}
</style>
