<template>
  <div class="card quiz-card" v-bind:class="{ 'card-fullscreen' : fullScreenMode}">
    <div class="card-header ch-alt clearfix bgm-n4d-orange">
      <h3 class="pull-left" style="max-width: 90%;">
          {{widget.content.title}}
      </h3>
    </div>
    <div v-if="started" class="quiz-header card-header ch-alt clearfix">
      <div class="col-xs-4"><span class="N4d-hidden-xs">Pytanie </span>{{currentQuestionIndex+1}}/{{countQuestions()}}</div>
      <div class="col-xs-4 text-center">{{time}}</div>
      <div class="col-xs-4 text-right animated" v-bind:class="{ 'flash' : checked  }">{{ score }} pkt</div>
    </div>
    <div class="card-body card-padding quiz-questions" v-if="!summary">
      <img v-if="!started" v-bind:src="widget.content.poster" class="Simple__list__article__picture " />
      <ol v-if="started" class="cleared">
        <li class="N4d__question" v-bind:class="{ 'N4d__question--checked' : checked }" v-if="currentQuestionIndex == index" v-for="(index, question) in shufle(widget.content.questions)">
          <div class="m-b-25 f-700">{{ question.body }}</div>
          <ol class="N4d__answers cleared">
            <li class="radio m-b-25 animated" v-bind:class="{ 'flash' : checked && answer.is_correct, 'shake' : checked && picked == answer.id && !answer.is_correct }" v-for="(index, answer) in shufle(question.answers)" @click="taken = answer">
              <label>
                <input type="radio" v-model="picked" disabled="{{checked}}" value="{{ answer.id }}">
                <i class="input-helper"></i>
                <span class="N4d__answer" v-bind:class="{ 'picked': picked == answer.id, 'N4d__answer--correct' : checked && answer.is_correct, 'N4d__answer--incorrect' : checked && picked == answer.id && !answer.is_correct }">{{ answer.body }}</span>
              </label>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="card-body card-padding summary" v-if="summary">
      <ol class="list-unstyled">
        <li class="N4d__question N4d__question--checked" v-for="(index, question) in summaryQuestions">
          <div class="m-b-25 f-700">{{ question.body }}</div>
          <ol class="N4d__answers cleared">
            <li class="radio m-b-25" v-for="(index, answer) in question.answers">
              <label>
                <input type="radio" disabled value="{{ answer.id }}" :checked="answer.id === question.taken.id">
                <i class="input-helper"></i>
                <span class="N4d__answer picked" :class="{ 'N4d__answer--correct' : answer.is_correct, 'N4d__answer--incorrect' : !answer.is_correct && answer.id === question.taken.id }">{{ answer.body }}</span>
              </label>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div v-if="started" class="progress progress-striped active">
      <div class="progress-bar bgm-n4d-orange" role="progressbar" v-bind:style="{'width': progressbar + '%'}" aria-valuenow="{{progressbar}}" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
    <ul class="list-unstyled clearfix wpb-actions">
      <li v-if="!finish" class="w-100">
        <button v-if="!started" v-on:click="start()" class="btn btn-block bgm-n4d-orange  waves-effect">Rozpocznij</button>
        <button v-if="!picked && started" class="btn btn-block bgm-n4d-orange btn-sm waves-effect">Zaznacz odpowiedź</button>
        <button v-if="picked && !checked" v-on:click="checkAnswer(answer, question)" class="btn btn-block bgm-n4d-orange btn-sm waves-effect">Sprawdź</button>
        <button v-if="picked && checked" v-on:click="next()" class="btn btn-block bgm-n4d-orange btn-sm waves-effect">Następne pytanie</button>
      </li>
      <li v-if="finish && !summary" class="w-100">
        <button class="btn btn-block bgm-n4d-orange btn-sm waves-effect" @click="showSummary()">Wyświetl podsumowanie</button>
      </li>
    </ul>
  </div>
  <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
var $ = require('jquery')
export default {
  props: [
    'widget'
  ],
  data: function() {
    return {
      started: false,
      score: 0,
      pointsForQuiz: 0,
      currentQuestionIndex: 0,
      questionsAnswered: 0,
      fullScreenMode: false,
      animated: false,
      taken: null,
      timer: null,
      interval: null,
      picked: false,
      checked: false,
      finish: false,
      summary: false,
      summaryQuestions: []
    }
  },
  methods: {
    toggleFullScreen() {
      $('body').toggleClass('page-card-fullscreen')
      this.fullScreenMode = !this.fullScreenMode
    },
    showSummary() {
      this.summary = true
    },
    start: function() {
      var vm = this
      vm.started = true
      this.startTimer()
      // this.scrollTop()
    },
    startTimer: function() {
      var vm = this
      vm.interval = setInterval(function() {
        vm.timer += 1000
      }, 1000)
    },
    stopTimer: function() {
      clearInterval(this.interval)
    },
    scrollTop: function() {
      var vm = this
      $('html, body').animate({
        scrollTop: vm.$el.offsetTop
      }, 300)
    },
    checkAnswer: function() {
      var vm = this
      vm.checked = true
      vm.score += vm.taken.is_correct ? vm.widget.content.questions[vm.currentQuestionIndex].points : 0
      vm.finish = vm.currentQuestionIndex + 1 === vm.countQuestions()
      vm.questionsAnswered += 1
      if (vm.finish) {
        this.stopTimer()
      }
      vm.widget.content.questions[vm.currentQuestionIndex].taken = vm.taken
      vm.summaryQuestions.push(vm.widget.content.questions[vm.currentQuestionIndex])
    },
    getScore: function() {
      return this.score
    },
    next: function() {
      this.picked = false
      this.checked = false
      this.currentQuestionIndex += 1
      // this.scrollTop()
    },
    countQuestions: function() {
      return this.widget.content.questions.length
    },
    shufle: function(array) {
      var i = 0
      var j = 0
      var temp = null
      for (i = array.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1))
        temp = array[i]
        array[i] = array[j]
        array[j] = temp
      }
      return array
    }
  },
  ready: function() {
    var _pointsForQuiz = 0
    this.widget.content.questions.forEach(function(question) {
      _pointsForQuiz += parseInt(question.points)
    })
    this.pointsForQuiz = _pointsForQuiz
  },
  computed: {
    time: function() {
      return this.minutes + ':' + this.seconds
    },
    seconds: function() {
      var strsec
      var sec = Math.floor((this.timer / 1000) % 60)
      if (sec < 10) {
        strsec = '0' + sec
      } else {
        strsec = sec
      }
      return strsec
    },
    minutes: function() {
      var strmin
      var min = Math.floor((this.timer / 1000) / 60)
      if (min < 10) {
        strmin = '0' + min
      } else {
        strmin = min
      }
      return strmin
    },
    progressbar: function() {
      return this.questionsAnswered / this.countQuestions() * 100
    }
  }
}
</script>
<style scoped lang="less">
.card.card-fullscreen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .quiz-questions {
    flex: 1;
    height: 1px;
  }
}

@media (min-width: 1920px) {
  .quiz-card {
    .actions {
      position: relative;
      top: auto;
      right: auto;
      a {
        height: 40px;
        width: 40px;
      }
      i {
        font-size: 30px;
      }
      span {
        font-size: 20px;
      }
    }
  }
}
</style>
