<template>
  <div class="question-body">
    {{index}}. {{ question.body }}
  </div>
  <ol class="list-unstyled">
    <li class="radio answer" v-for="answer in question.answers">
      <label>
        <input type="radio" name="{{name}}" value="{{ answer.id }}" v-model="picked" :disabled="summary">
        <i class="input-helper"></i>
        <span :class="{'reveal' : reveal, 'answer-correct' : answer.is_correct && summary, 'answer-incorrect' : !answer.is_correct && picked == answer.id && reveal }">{{ answer.body }}</span>
      </label>
    </li>
  </ol>
  <blockquote v-if="summary && question.comment" class="m-b-25">
    <p>{{question.comment}}</p>
  </blockquote>
</template>
<script>
import _ from 'lodash'
export default {
  data: function() {
    return {
      picked: false,
      correct: 0
    }
  },
  props: [
    'question',
    'summary',
    'index'
  ],
  ready() {
    let _this = this
    _.map(this.question.answers, function(answer) {
      if (answer.is_correct) {
        _this.correct = answer.id
      }
    })
  },
  methods: {

  },
  computed: {
    reveal() {
      return this.picked && this.summary
    },
    points() {
      return parseInt(this.picked) === this.correct ? this.question.points : 0
    }
  }
}
</script>
<style lang="less" scoped>
.question-body {
  font-family: 'Roboto Condensed';
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  @media (min-width: 1366px) {
    font-size: 18px;
  }
}

.answer {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  @media (min-width: 1366px) {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.answer-correct {
  color: #009688;
}

.answer-incorrect {
  color: #f44336;
}
</style>
