<template>
  <div class="row" v-el="quiz">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-fhd-6 col-fhd-push-3 quiz-enter" v-if="!started" @click="start()">
      <div class="card">
        <div class="card-body">
          <img :src="widget.content.poster" alt="">
        </div>
        <ul class="list-unstyled clearfix wpb-actions">
          <li class="w-100">
            <span class="btn btn-block bgm-n4d-blue btn-sm waves-effect">Rozpocznij</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12" v-if="started">
      <div class="card">
        <div class="bgm-n4d-blue c-white card-header clearfix summary" v-if="summary">
          <div class="col-xs-6">
            {{time}}
          </div>
          <div class="col-xs-6 text-right">
            {{score}} / 10 pkt
          </div>
        </div>
        <div class="card-body card-padding">
          <ul class="list-unstyled">
            <li class="question" v-for="(index, question) in widget.content.questions">
              <quiz-question :index="index + 1" :question="question" :summary="summary"></quiz-question>
            </li>
          </ul>
          <!-- <pre>{{widget | json}}</pre> -->
        </div>
        <ul class="list-unstyled clearfix wpb-actions" v-if="!summary">
          <li class="w-100">
            <span class="btn btn-block bgm-n4d-blue btn-sm waves-effect" @click="showSummary()">Sprawdź odpowiedzi</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import $ from 'jquery'
import QuizQuestion from './QuizQuestion'
export default {
  components: {
    QuizQuestion
  },
  data: function() {
    return {
      started: false,
      summary: false,
      timer: null,
      interval: null,
      score: 0
    }
  },
  props: [
    'widget'
  ],
  ready() {},
  methods: {
    start() {
      this.started = true
      this.startTimer()
    },
    stopTimer: function() {
      clearInterval(this.interval)
    },
    showSummary() {
      this.summary = true
      this.stopTimer()
      this.scrollTop()
      this.countScore()
    },
    countScore() {
      let _this = this
      _.map(this.$children, function(answer) {
        _this.score += parseInt(answer.points)
      })
    },
    scrollTop: function() {
      let toTop = $(this.$el).offset().top - 90
      $('html, body').animate({
        scrollTop: toTop
      }, 300)
    },
    startTimer: function() {
      let _this = this
      _this.interval = setInterval(function() {
        _this.timer += 1000
      }, 1000)
    }
  },
  computed: {
    time: function() {
      return this.minutes + ':' + this.seconds
    },
    seconds: function() {
      var strsec
      var sec = Math.floor((this.timer / 1000) % 60)
      if (sec < 10) {
        strsec = '0' + sec
      } else {
        strsec = sec
      }
      return strsec
    },
    minutes: function() {
      var strmin
      var min = Math.floor((this.timer / 1000) / 60)
      if (min < 10) {
        strmin = '0' + min
      } else {
        strmin = min
      }
      return strmin
    }
  }
}
</script>
<style lang="less" scoped>
.quiz-enter {
  cursor: pointer;
}

.summary {
  padding: 10px;
  font-size: 13px;
  @media (min-width: 1366px) {
    font-size: 16px;
  }
}

.question {
  margin-bottom: 25px;
  @media (min-width: 1366px) {
    margin-bottom: 40px;
  }
}
</style>
