<template>
  <div class="card">
    <div class="card-header ch-alt clearfix bgm-n4d-orange">
      <h3 class="pull-left">
        {{widget.content.title}}
      </h3>
    </div>
    <div class="card-body">
      <div id="carousel-widget-{{widget.id}}" class="carousel slide">
      	<!-- Indicators -->
        <ol class="carousel-indicators">
          <li v-for="(index, slide) in widget.content.slides" data-target="#carousel-widget-{{widget.id}}" data-slide-to="{{index}}" :class="{ 'active' : index === 0 }"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div v-for="(index, slide) in widget.content.slides" class="item" :class="{ 'active' : index === 0 }">
            <img :src="slide.featured_img.md" alt="">
            <div class="carousel-caption" v-if="slide.label">
              <h3>{{slide.label}}</h3>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-widget-{{widget.id}}" role="button" data-slide="prev">
            <span class="zmdi zmdi-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-widget-{{widget.id}}" role="button" data-slide="next">
            <span class="zmdi zmdi-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- <pre>{{widget | json}}</pre> -->
</template>
<script>
// import $ from 'jquery'
import 'bootstrap/js/carousel'
export default {
  props: [
    'widget'
  ],
  ready() {
    // $('#carousel-widget-' + this.widget.id).carousel()
  }
}
</script>
<style scoped lang="less">
	@media (max-width: 500px) {
		.carousel-indicators{
			display: none;
		}
	}
</style>
