<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-xlg-9">
          <mobile-sponsor v-if="article.sponsor" :sponsor="article.sponsor"></mobile-sponsor>
          <div id="showArticle" class="card">
            <div class="card-header">
              <div class="media-body m-t-5">
                <h1 class="N4dArticle__title">{{article.title}}</h1>
                <small>
                  <a v-link="{ name: 'category', params: { slug: article.category.slug }}" >
                    {{article.category.title}}
                  </a> <span v-if="article.authors">| {{article.authors}}</span>
                </small>
              </div>
            </div>
            <div class="card-body card-padding">
              <p><strong>{{article.excerpt}}</strong></p>
            </div>
            <div v-show="article.display" class="wall-img-preview lightbox clearfix" v-if="article.featured_img.lg">
                <div class="wip-item">
                    <div class="">
                      <img :src="article.featured_img.md" alt="article.featured_img.lg">
                    </div>
                </div>
            </div>
            <!-- WIDGETS -->
            <widget-list :widgets="article.widgets"></widget-list>
            <!-- TAGS -->
            <ul v-show="article.tags.length" class="N4dTags clearfix wpb-actions list-unstyled list-inline m-l-0 m-t-5">
              <li>
                <i class="zmdi zmdi-tag-close zmdi-hc-fw"></i>
                <span>Tagi: </span>
              </li>
              <li v-for="tag in article.tags" data-toggle="tooltip" data-placement="top" data-original-title="Zobacz wszystkie publikacje związane z {{tag.title}}">
                <a @click="report(tag.slug)" v-link="{ name: 'tag', params: { slug: tag.slug }}" title="Zobacz wszystkie publikacje związane z {{tag.title}}">
                  {{ tag.title }}
                </a>
              </li>
            </ul>
          </div>          
          <div v-if="article.previous || article.next" class="card card-light clearfix">
            <a v-if="article.previous" v-link="{ name: 'article', params: { articleSlug: article.previous.slug }}">
              <button class="btn btn-default btn-icon-text waves-effect">
                <i class="zmdi zmdi-arrow-back pull-left"></i>
                <span class="hidden-xs p-l-25">Poprzednia publikacja</span>
              </button>
            </a>
            <a class="pull-right" v-if="article.next" v-link="{ name: 'article', params: { articleSlug: article.next.slug }}">
              <button class="btn btn-default btn-icon-text waves-effect">
                <i class="zmdi zmdi-arrow-forward pull-right"></i>
                <span class="hidden-xs p-r-25">Następna publikacja</span>
              </button>
            </a>
          </div>
          <similar-article-list :items="article.similar" :breadcrumb-parent="breadcrumbParent" v-if="article.similar.length"></similar-article-list>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-xlg-3">
          <!-- <featured-educationals></featured-educationals> -->
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-xlg-3 ">
          <sidebar-sponsor v-if="article.sponsor" :sponsor="article.sponsor"></sidebar-sponsor>
          <advert-list></advert-list>
          <tabs :article="article"></tabs>
        </div>
      </div>
    </div>
  </section>
  <!-- <pre>{{article |json }}</pre> -->
</template>
<script>
import $ from 'jquery'
import 'bootstrap/js/tab'
import FeaturedEducationals from './educationals/Featured'
import Breadcrumbs from './Breadcrumbs'
import SimilarArticleList from './articles/SimilarArticleList'
import MobileSponsor from './sponsors/Mobile'
import SidebarSponsor from './sponsors/Sidebar'
import WidgetList from './widgets/List'
import AdvertList from './adverts/List'
import Tabs from './articles/Tabs'
import {
  getApi,
  getN4DUser
} from '../vuex/getters'
import {
  setBreadcrumbs,
  setSponsor,
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    FeaturedEducationals,
    Breadcrumbs,
    SimilarArticleList,
    MobileSponsor,
    SidebarSponsor,
    WidgetList,
    AdvertList,
    Tabs
  },
  data: function() {
    return {
      resource: this.$resource(this.api + 'articles{/articleSlug}'),
      article: {}
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      setSponsor: setSponsor,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  route: {
    canReuse: false
  },
  created() {
    this.reportPageView()
    this.startLoader()
    this.fetchArticle()
  },
  ready() {
    $().tab()
  },
  methods: {
    fetchArticle() {
      this.resource.get({
        articleSlug: this.articleSlug
      }).then((response) => {
        this.article = response.data
        this.handleBreadcrumbs()
        this.handleSponsor()
        this.finishLoader()
      })
    },
    reportPageView: function() {
      window.ga('send', 'pageview', this.$route.path)
    },
    report: function(event) {
      window.ga('send', 'event', {
        eventCategory: this.$route.path,
        eventAction: this.n4dUser.email,
        eventLabel: event
      })
    },
    handleBreadcrumbs() {
      switch (this.$route.name) {
        case 'article':
          this.setBreadcrumbs([{
            name: 'article',
            slug: this.article.slug,
            title: this.article.title
          }])
          break
        case 'categoryArticle':
          this.setBreadcrumbs([{
            name: 'category',
            slug: this.article.category.slug,
            title: this.article.category.title
          }, {
            name: 'article',
            slug: this.article.slug,
            title: this.article.title
          }])
          break
        case 'educationalArticle':
          this.setBreadcrumbs([{
            name: 'educationals',
            slug: 'programy-edukacyjne',
            title: 'Programy edukacyjne'
          }, {
            name: 'educational',
            slug: this.article.educational.slug,
            title: this.article.educational.title
          }, {
            name: 'article',
            slug: this.article.slug,
            title: this.article.title
          }])
          break
        case 'sponsorArticle':
          this.setBreadcrumbs([{
            name: 'sponsor',
            slug: this.article.sponsor.slug,
            title: this.article.sponsor.title
          }, {
            name: 'article',
            slug: this.article.slug,
            title: this.article.title
          }])
          break
        case 'tagArticle':
          this.setBreadcrumbs([{
            name: 'tag',
            slug: this.$route.params.slug,
            title: this.$route.params.slug
          }, {
            name: 'article',
            slug: this.article.slug,
            title: this.article.title
          }])
          break
      }
    },
    handleSponsor() {
      this.setSponsor({
        logo: this.article.sponsor ? this.article.sponsor.featured_img.xs : '',
        slug: this.article.sponsor ? this.article.sponsor.slug : '',
        title: this.article.sponsor ? this.article.sponsor.title : ''
      })
    }
  },
  computed: {
    articleSlug() {
      return this.$route.params.articleSlug
    },
    breadcrumbParent() {
      let breadcrumbParent = 'article'
      switch (this.$route.name) {
        case 'categoryArticle':
          breadcrumbParent = 'category'
          break
        case 'educationalArticle':
          breadcrumbParent = 'educational'
          break
        case 'sponsorArticle':
          breadcrumbParent = 'sponsor'
          break
        case 'tagArticle':
          breadcrumbParent = 'tag'
          break
      }
      return breadcrumbParent
    }
  }
}
</script>
<style scoped lang="less">
@media (max-width: 768px) {
  .N4d-hidden-xs {
    display: none;
  }
}

.wpb-actions {
  background: #F7F7F7;
  margin: 0;
  padding: 10px 20px;
}
</style>
