<template>
	<!-- <pre>{{breadcrumbs | json}}</pre> -->
  <div class="col-xs-12 hidden-xs hidden-sm">
    <ol class="breadcrumb">
      <li>
      	<a v-link="{ name: 'home'}">Edukacja</a>
      	<i class="fa fa-circle"></i>
    	</li>
      <li v-for="(index, breadcrumb) in breadcrumbs">
        <a @click="report(breadcrumb)"  v-if="index !== (breadcrumbs.length - 1)" v-link="{ name: breadcrumb.name, params: { slug: breadcrumb.slug }}">{{breadcrumb.title | capitalize}}</a>
        <a v-if="index == (breadcrumbs.length - 1)" >{{breadcrumb.title}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <!-- <li class="active">Leveraging NPM, Browserify, and Elixir</li> -->
    </ol>
  </div>
</template>
<script>
import {
  getBreadcrumbs,
  getN4DUser
} from '../vuex/getters'
export default {
  methods: {
    report: function(breadcrumb) {
      window.ga('send', 'event', {
        eventCategory: 'breadcrumbs',
        eventAction: this.n4dUser.email,
        eventLabel: breadcrumb.slug
      })
    }
  },
  vuex: {
    getters: {
      breadcrumbs: getBreadcrumbs,
      n4dUser: getN4DUser
    }
  }
}
</script>
