<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-xlg-9">
          <div class="row">
            <ul class="list-unstyled">
              <li class="col-xs-12" v-for="article in articles">
                <simple-list-element :item="article" breadcrumb-parent="category"></simple-list-element>
              </li>
            </ul>            
          </div>
          <div v-show="!last_page" class="load-more m-b-25">
            <button v-on:click="fetchArticles()" class="btn bgm-n4d-orange waves-effect"><i class="zmdi zmdi-refresh-alt "></i> Wczytaj więcej</button>
          </div>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-xlg-3">
          <featured-educationals></featured-educationals>
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-xlg-3 ">
          <advert-list></advert-list>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import FeaturedEducationals from './educationals/Featured'
import AdvertList from './adverts/List'
import Breadcrumbs from './Breadcrumbs'
import SimpleListElement from './articles/SimpleListElement'
import {
  getApi,
  getN4DUser
} from '../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    FeaturedEducationals,
    Breadcrumbs,
    AdvertList,
    SimpleListElement
  },
  data() {
    return {
      resource: this.$resource(this.api + 'categories{/slug}/articles'),
      articles: [],
      category: null,
      page: 1,
      last_page: false
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  route: {
    canReuse: false
  },
  created() {
    this.reportPageView()
    this.startLoader()
    this.fetchArticles()
  },
  methods: {
    fetchArticles() {
      let _this = this
      this.resource.get({
        slug: this.slug,
        page: this.page
      }).then((response) => {
        if (response.data.articles.last_page === this.page) {
          this.last_page = true
        }
        response.data.articles.data.forEach(function(item) {
          _this.articles.push(item)
        })
        this.category = response.data.category
        this.handleBreadcrumbs()
        this.page++
        this.finishLoader()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'category',
        slug: this.category.slug,
        title: this.category.title
      }])
    },
    reportPageView: function() {
      window.ga('send', 'pageview', this.$route.path)
    }
  },
  computed: {
    slug() {
      return this.$route.params.slug
    }
  }
}
</script>
