<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-xlg-9">
          <mobile-sponsor v-if="educational.sponsor" :sponsor="educational.sponsor"></mobile-sponsor>
          <div class="card">
            <div class="card-header">
              <div class="media">
                <div class="media-body m-t-5">
                  <h1 class="N4dArticle__title">{{educational.title}} </h1>
                </div>
              </div>
            </div>
            <div class="card-body card-padding">
              <p>{{educational.excerpt}}</p>
              <p>{{{educational.intro}}}</p>
            </div>
          </div>
          <closest :item="closest" v-if="closest"></closest>
          <stages :items="articles"></stages>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-xlg-3">
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-xlg-3 ">
          <sidebar-sponsor v-if="educational.sponsor" :sponsor="educational.sponsor"></sidebar-sponsor>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Breadcrumbs from './Breadcrumbs'
import Stages from './educationals/Stages'
import Closest from './educationals/Closest'
import MobileSponsor from './sponsors/Mobile'
import SidebarSponsor from './sponsors/Sidebar'
import {
  getApi,
  getN4DUser
} from '../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    Breadcrumbs,
    MobileSponsor,
    SidebarSponsor,
    Stages,
    Closest
  },
  data: function() {
    return {
      resource: this.$resource(this.api + 'educationals{/slug}'),
      educational: {},
      articles: [],
      closest: {}
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  created() {
    this.reportPageView()
    this.startLoader()
  },
  route: {
    data: function() {
      this.fetchEducational()
    }
  },
  methods: {
    reportPageView: function() {
      window.ga('send', 'pageview', this.$route.path)
    },
    fetchEducational() {
      this.resource.get({
        slug: this.slug
      }).then((response) => {
        this.articles = response.data.articles.data
        this.educational = response.data.educational
        this.closest = response.data.closest
        this.handleBreadcrumbs()
        this.finishLoader()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'educationals',
        slug: 'programy-edukacyjne',
        title: 'Programy edukacyjne'
      }, {
        name: 'educational',
        slug: this.educational.slug,
        title: this.educational.title
      }])
    }
  },
  computed: {
    slug() {
      return this.$route.params.slug
    }
  }
}
</script>
<style scoped>
.wpb-actions {
  background: #F7F7F7;
  margin: 0;
  padding: 10px 20px;
}
</style>
