<template>
  <footer id="footer">
    Copyright &copy; 2016 Net4Doctor
    
    <div class="scroll-to-top">
      <i class="zmdi zmdi-caret-up-circle zmdi-hc-fw"></i>
    </div>
  </footer>
</template>
<script>
export default {

}
</script>
<style scoped lang="less">
#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 110px;
  color: #a2a2a2;
  padding-top: 35px;
  padding-bottom: 15px;
  .f-menu {
    display: block;
    width: 100%;
    .list-inline();
    margin-top: 8px;
    & > li > a {
      color: #a2a2a2;
      &:hover {
        color: #777;
      }
    }
  }
}


/* Scroll Top Top */

.scroll-to-top {
  display: inline-block;
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 10px;
  display: none;
  right: 10px;
}

.scroll-to-top > i {
  display: inline-block;
  color: #687991;
  font-size: 32px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.scroll-to-top:hover {
  cursor: pointer;
}

.scroll-to-top:hover > i {
  opacity: 1;
  filter: alpha(opacity=100);
}

@media (min-width: 992px) {
  /* 992px */
  .scroll-to-top {
    right: 10px;
  }
}

@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    right: 10px;
  }
  .scroll-to-top > i {
    font-size: 28px;
  }
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  & > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
</style>
