<template>
  <header id="header" class="clearfix" :class="{ 'search-toggled': searchBoxToggled }">
    <ul class="header-inner clearfix">
      <li @click='toggleSidebar' id="menu-trigger" :class="{ 'open': sidebarToggled }">
        <div class="line-wrap">
          <div class="line top"></div>
          <div class="line center"></div>
          <div class="line bottom"></div>
        </div>
      </li>
      <li  class="logo" >
        <a href="http://pto.lptgroup.pl" title="Strona główna">N4D</a>
      </li>
      <li class="pull-right">
        <ul class="top-menu">
          <li id="top-search" @click='toggleSearchBox'>
            <a data-snitch="toggle-search-box" href="javascript:;"><i class="tm-icon zmdi zmdi-search"></i></a>
          </li>
        </ul>
      </li>
    </ul>
    <search-box></search-box>
  </header>
</template>
<script>
import SearchBox from './SearchBox'
import {
  incrementCounter,
  hideSidebar,
  toggleSidebar,
  toggleSearchBox
} from '../vuex/actions'
import {
  getSidebarToggled,
  getSearchBoxToggled
} from '../vuex/getters'
export default {
  components: {
    SearchBox
  },
  vuex: {
    actions: {
      increment: incrementCounter,
      hideSidebar: hideSidebar,
      toggleSidebar: toggleSidebar,
      toggleSearchBox: toggleSearchBox
    },
    getters: {
      sidebarToggled: getSidebarToggled,
      searchBoxToggled: getSearchBoxToggled
    }
  }
}
</script>
