<template>
  <li class="dropdown">
    <a @click="dropdown" data-toggle="dropdown" href="javascript:;"><i class="tm-icon zmdi zmdi-more-vert"></i></a>
    <ul class="dropdown-menu dm-icon pull-right">
      <li>
        <a @click="clearLocalStorage" href="javascript:;"><i class="zmdi zmdi-delete"></i> Wyczyść pamięć podręczną</a>
      </li>
    </ul>
  </li>
</template>
<script>
import $ from 'jquery'
import 'bootstrap/js/dropdown'
import swal from 'sweetalert'
import 'sweetalert/dist/sweetalert.css'
export default {
  methods: {
    dropdown() {
      $('.dropdown-toggle').dropdown()
    },
    clearLocalStorage() {
      console.log('clear')
      swal({
        title: 'Na pewno?',
        text: 'Wszystkie zapisane ustawienia strony zostaną zresetowane',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Tak zresetuj ustawienia',
        closeOnConfirm: false
      }, function() {
        window.localStorage.clear()
        swal('Zrobione!', 'Przywrócono domyślne ustawienia strony', 'success')
        $('[data-current-skin]').attr('data-current-skin', 'cyan')
      })
    }
  }
}
</script>
