<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <div id="fmain" class="col-xs-12 col-md-8 col-xlg-9">
          <div class="row">
            <div class="col-xs-12">
              <div class="block-header">
                <h2>Publikacje wyróżnione</h2>
              </div>
            </div>
            <ul class="list-unstyled">
              <li class="col-xs-12 col-xlg-8 featured">
                <featured-first-element :item="list[0]"></featured-first-element>
              </li>
              <li class="col-xs-12 col-md-6 col-xlg-4 featured" v-if="index > 0 && index < 5" v-for="(index, article) in list">
                <featured-list-element :item="article"></featured-list-element>
              </li>
              <li>
                <div class="col-xs-12">
                  <div class="block-header">
                    <h2>Aktualności</h2>
                  </div>
                </div>
              </li>
              <li class="col-xs-12" v-if="index >= 5" v-for="(index, article) in list">
                <simple-list-element :item="article"></simple-list-element>
              </li>
            </ul>
          </div>
          <div v-show="!last_page" class="load-more m-b-25">
            <button v-on:click="fetchArticles(), report()" class="btn bgm-n4d-orange waves-effect"><i class="zmdi zmdi-refresh-alt "></i> Wczytaj więcej</button>
          </div>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-xlg-3">
          <featured-educationals></featured-educationals>
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-xlg-3 ">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import SimpleListElement from './articles/SimpleListElement'
import FeaturedFirstElement from './articles/FeaturedFirstElement'
import FeaturedListElement from './articles/FeaturedListElement'
import FeaturedEducationals from './educationals/Featured'
import {
  getApi,
  getN4DUser
} from '../vuex/getters'
import {
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    SimpleListElement,
    FeaturedFirstElement,
    FeaturedListElement,
    FeaturedEducationals
  },
  data() {
    return {
      resource: this.$resource(this.api + 'articles'),
      list: [],
      page: 1,
      last_page: false
    }
  },
  vuex: {
    actions: {
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  created() {
    this.startLoader()
    this.fetchArticles()
  },
  methods: {
    fetchArticles() {
      let _this = this
      this.resource.get({
        page: this.page
      }).then((response) => {
        if (response.data.last_page === this.page) {
          this.last_page = true
        }
        response.data.data.forEach(function(item) {
          _this.list.push(item)
        })
        this.page++
        this.finishLoader()
      })
    },
    report: function() {
      window.ga('send', 'event', {
        eventCategory: this.$route.path,
        eventAction: this.n4dUser.email,
        eventLabel: 'Wczytaj więcej'
      })
    }
  }
}
</script>
