<template>
  <section id="main">
    <sidebar></sidebar>
    <router-view></router-view>
  </section>
</template>
<script>
import Sidebar from './Sidebar'
export default {
  components: {
    Sidebar
  }
}
</script>
<style>
#main {
  position: relative;
  padding-bottom: 110px;
  padding-top: 70px;
}
</style>
