<template>
  <!-- Page Loader -->
  <div class="page-loader" v-if="isLoading">
    <div class="preloader pls-blue">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20" />
      </svg>
    </div>
  </div>
</template>
<script>
import {
  getLoader
} from '../vuex/getters'
export default {
  vuex: {
    getters: {
      isLoading: getLoader
    }
  }
}
</script>
<style scoped lang="less">
@m-blue: #2196F3;
@m-red: #F44336;
@m-green: #4CAF50;
@m-amber: #FFC107;
.page-loader {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 30ms;
    animation-duration: 30ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    p {
      white-space: nowrap;
      position: relative;
      left: -9px;
      top: 22px;
      color: #CCC;
    }
  }
}

.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;
  &:not([class*="pl-"]) {
    width: 40px;
  }
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &.pl-xs {
    width: 20px;
  }
  &.pl-sm {
    width: 30px;
  }
  &.pl-lg {
    width: 50px;
  }
  &.pl-xl {
    width: 80px;
  }
  &.pl-xxl {
    width: 100px;
  }
  &:not([class*="pls-"]) {
    .plc-path {
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }
  }
  &[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
  }
  &.pls-red .plc-path {
    stroke: @m-red;
  }
  &.pls-blue .plc-path {
    stroke: @m-blue;
  }
  &.pls-green .plc-path {
    stroke: @m-green;
  }
  &.pls-amber .plc-path {
    stroke: @m-amber;
  }
}

.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.plc-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: @m-red;
  }
  40% {
    stroke: @m-blue;
  }
  66% {
    stroke: @m-green;
  }
  80%,
  90% {
    stroke: @m-amber;
  }
}
</style>
