<template>
  <div id="top-search-wrap">
    <div class="tsw-inner">
      <validator name="searchValidator">
        <i id="top-search-go" class="zmdi zmdi-arrow-left" v-if="$searchValidator.valid" @click="search()"></i>
        <input id="query" v-model="query" @keyup.enter="search()" type="text" placeholder="Czego szukasz?" v-validate:query="{ required: true, minlength: 3 }">
        <i id="top-search-close" class="ahs-close" @click="toggleSearchBox">×</i>
      </validator>
    </div>
  </div>
</template>
<script>
import router from '../router'
import {
  getSearchBoxToggled
} from '../vuex/getters'
import {
  toggleSearchBox,
  setSearchQuery
} from '../vuex/actions'
export default {
  vuex: {
    actions: {
      toggleSearchBox: toggleSearchBox,
      setSearchQuery: setSearchQuery
    },
    getters: {
      searchBoxToggled: getSearchBoxToggled
    }
  },
  data() {
    return {
      query: ''
    }
  },
  methods: {
    search() {
      if (this.$searchValidator.valid) {
        this.setSearchQuery(this.query)
        this.toggleSearchBox()
        router.go({
          name: 'search',
          params: {
            querySlug: this.query
          }
        })
      }
    }
  }
}
</script>
