<template>
  <aside id="sidebar" class="sidebar c-overflow" :class="{ 'toggled': sidebarToggled }">
    <ul class="main-menu">
      <li class="sub-menu">
        <a href="javascript:;" @click="toggleParent($event)">
          <i class="zmdi zmdi-home zmdi-hc-fw"></i> Polskie Towarzystwo Okulistyczne
        </a>
        <ul>
          <li>
            <a href="http://pto.com.pl" title="Strona główna" >
              Strona główna
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/aktualnosci" title="Aktualności" >
              Aktualności
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/kalendarium-pto"  title="Kalendarium">
              Kalendarium
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/pisma-zarzadu/korespondencja"  title="Kalendarium">
              Pisma zarządu
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/dokumenty"  title="Kalendarium">
              Dokumenty
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/wytyczne"  title="Kalendarium">
              Wytyczne
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/czasopisma"  title="Kalendarium">
              Czasopisma
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/linki"  title="Kalendarium">
              Linki
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/historia"  title="Kalendarium">
              O PTO
            </a>
          </li>
          <li>
            <a href="http://pto.com.pl/kontakt"  title="Kalendarium">
              Kontakt
            </a>
          </li>
        </ul>
      </li>
      <li @click='toggleSidebar'>
        <a data-snitch="sidebar-redirect" v-link="{ name: 'home' }" title="Edukacja">
          <i class="zmdi flaticon-tool"></i> Edukacja
        </a>
      </li>
      <li v-for="category in list" @click='toggleSidebar'>
        <a data-snitch="sidebar-redirect" v-link="{ name: 'category', params: { slug: category.slug }}" title="{{category.title}}">
          <i class="zmdi" :class="category.icon"></i> {{category.title}} ({{category.articles_count.aggregate}})
        </a>
      </li>
      <li @click='toggleSidebar'>
        <a data-snitch="sidebar-redirect" v-link="{ name: 'educationals' }" title="Programy edukacyjne">
          <i class="zmdi flaticon-tool"></i> Programy edukacyjne
        </a>
      </li>
      <li>
        <a href="http://pto.com.pl/edukacja-archiwum" title="Archiwum">
          <i class="zmdi flaticon-archive"></i> Archiwum
        </a>
      </li>
    </ul>
  </aside>
  <!-- <pre>{{list | json}}</pre> -->
</template>
<script>
import {
  getSidebarToggled,
  getApi
} from '../vuex/getters'
import {
  toggleSidebar
} from '../vuex/actions'
var $ = require('jquery')
import 'jquery-mousewheel'
import MalihuCustomScrollbarPlugin from 'malihu-custom-scrollbar-plugin'
MalihuCustomScrollbarPlugin($)
import 'malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'
export default {
  vuex: {
    actions: {
      toggleSidebar: toggleSidebar
    },
    getters: {
      sidebarToggled: getSidebarToggled,
      api: getApi
    }
  },
  data() {
    return {
      list: []
    }
  },
  created() {
    this.fetchCategories()
  },
  ready() {
    $('.c-overflow').mCustomScrollbar({
      theme: 'minimal-dark',
      scrollInertia: 100,
      axis: 'yx',
      mouseWheel: {
        enable: true,
        axis: 'y',
        preventDefault: true
      }
    })
  },
  methods: {
    fetchCategories() {
      this.$http.get(this.api + 'categories').then((response) => {
        this.list = response.data
      }, (response) => {
        // error callback
      })
    },
    toggleParent(event) {
      console.log(555)
      $(event.target).closest('.sub-menu').toggleClass('toggled')
      $(event.target).next().toggleClass('show')
    }
  }
}
</script>
<style lang="less">
[class*="flaticon-"]:before{
    
    margin-left: 0!important;
}
#sidebar {
  .mCSB_scrollTools {
    width: 5px;
    .mCSB_dragger_bar {
      border-radius: 0 !important;
    }
    &.mCSB_scrollTools_horizontal,
    &.mCSB_scrollTools_vertical {
      margin: 0 !important;
    }
    &.mCSB_scrollTools_horizontal {
      height: 10px;
    }
  }
  .mCS-minimal-dark {
    &.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: rgba(0, 0, 0, 0.4);
    }
    &.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
      background: rgba(0, 0, 0, 0.5) !important;
    }
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
}
</style>
