<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-xlg-9">
          <div class="card">
            <div class="card-header">
              <div class="media">                
                <div class="pull-left m-t-5">
                  <h1 class="N4dArticle__title">{{sponsor.title}} </h1>
                  <small>Partner edukacyjny</small>
                </div>
                <div class="pull-right partner-logo">
                  <img class="lv-img" :src="sponsor.featured_img.xs" alt="">
                </div>
              </div>
            </div>
            <div class="card-body card-padding">
              <p>{{{sponsor.excerpt}}}</p>
            </div>
          </div>
          <articles :items="articles"></articles>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-xlg-3">
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-xlg-3 ">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Breadcrumbs from './Breadcrumbs'
import Articles from './sponsors/Articles'
import {
  getApi,
  getN4DUser
} from '../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    Breadcrumbs,
    Articles
  },
  data: function() {
    return {
      resource: this.$resource(this.api + 'sponsors{/slug}'),
      sponsor: {},
      articles: []
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      n4dUser: getN4DUser
    }
  },
  created() {
    this.reportPageView()
    this.startLoader()
  },
  route: {
    data: function() {
      this.fetchSponsor()
    }
  },
  methods: {
    reportPageView: function() {
      window.ga('send', 'pageview', this.$route.path)
    },
    fetchSponsor() {
      this.resource.get({
        slug: this.slug
      }).then((response) => {
        this.sponsor = response.data.sponsor
        this.articles = response.data.articles
        this.handleBreadcrumbs()
        this.finishLoader()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'sponsor',
        slug: this.sponsor.slug,
        title: this.sponsor.title
      }])
    }
  },
  computed: {
    slug() {
      return this.$route.params.slug
    }
  }
}
</script>
<style scoped>
	.partner-logo{
		max-width: 50%;
	}
  .lv-img{
    width: auto;
    max-height: 100px;
  }
</style>
