<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-fhd-9">
          <div class="row">
            <ul class="cleared">
              <li class="col-xs-12" v-for="article in articles">
                <simple-list-element :item="article" breadcrumb-parent="tag"></simple-list-element>
              </li>
            </ul>
          </div>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-fhd-3">
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-fhd-3 ">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Breadcrumbs from './Breadcrumbs'
import SimpleListElement from './articles/SimpleListElement'
import {
  getApi
} from '../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../vuex/actions'
export default {
  components: {
    Breadcrumbs,
    SimpleListElement
  },
  data() {
    return {
      resource: this.$resource(this.api + 'tags{/slug}/articles'),
      articles: [],
      tag: null
    }
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi
    }
  },
  route: {
    data: function() {
      this.fetchArticles()
    }
  },
  created() {
    this.startLoader()
  },
  methods: {
    fetchArticles() {
      this.resource.get({
        slug: this.slug
      }).then((response) => {
        this.articles = response.data.articles.data
        this.tag = response.data.tag
        this.handleBreadcrumbs()
        this.finishLoader()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'tag',
        slug: this.tag.slug,
        title: this.tag.title
      }])
    }
  },
  computed: {
    slug() {
      return this.$route.params.slug
    }
  }
}
</script>
