    /*
    Flaticon icon font: Flaticon
    Creation date: 25/10/2016 11:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-archive:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-conference-hall:before { content: "\f104"; }
.flaticon-doctor:before { content: "\f105"; }
.flaticon-education:before { content: "\f106"; }
.flaticon-internet:before { content: "\f107"; }
.flaticon-magistrate-with-hammer:before { content: "\f108"; }
.flaticon-medical:before { content: "\f109"; }
.flaticon-newspaper-report:before { content: "\f10a"; }
.flaticon-physics:before { content: "\f10b"; }
.flaticon-shapes:before { content: "\f10c"; }
.flaticon-sheet:before { content: "\f10d"; }
.flaticon-tool:before { content: "\f10e"; }
    
    $font-Flaticon-archive: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-calendar: "\f103";
    $font-Flaticon-conference-hall: "\f104";
    $font-Flaticon-doctor: "\f105";
    $font-Flaticon-education: "\f106";
    $font-Flaticon-internet: "\f107";
    $font-Flaticon-magistrate-with-hammer: "\f108";
    $font-Flaticon-medical: "\f109";
    $font-Flaticon-newspaper-report: "\f10a";
    $font-Flaticon-physics: "\f10b";
    $font-Flaticon-shapes: "\f10c";
    $font-Flaticon-sheet: "\f10d";
    $font-Flaticon-tool: "\f10e";