*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body.page-card-fullscreen{
  overflow: hidden;
}
ul.cleared, ol.cleared{
  margin: 0;
  padding: 0;
  list-style: none;
}
iframe{
  max-width: 100%;
}
h6{
  display: none;
}


a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  color: inherit;
  &:hover, &:focus{
    text-decoration: none;
    color: inherit;
  }
  &.fullBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 3;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
  }
}

img{
  border: 0;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  &.lazyload{
    opacity: 0;
    //transform: scale(0.75);
    transition: opacity .3s ease-in;
  }
  &.lazyloaded{
    opacity: 1;
    //transform: scale(1);
    transition: all 700ms;
  }
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
