<template>
  <section id="content">
    <div class="container">
      <div id="fflex" class="row">
        <breadcrumbs></breadcrumbs>
        <div id="fmain" class="col-xs-12 col-md-8 col-fhd-9">
          <div class="card row">
            <ul class="cleared">
              <li class="col-xs-12" v-for="article in list">
                <simple-list-element :item="article"></simple-list-element>
              </li>
            </ul>            
          </div>
          <div class="card" v-if="!list.length">
              <div class="card-body card-padding">
                  Brak materiałów dla frazy: <strong>{{ getSearchQuery }}</strong>
              </div>
          </div>
          <div v-show="!last_page && list.length" class="load-more m-b-25">
            <button v-on:click="fetchArticles()" class="btn bgm-n4d-orange waves-effect"><i class="zmdi zmdi-refresh-alt "></i> Wczytaj więcej</button>
          </div>
        </div>
        <div id="fedu" class="col-xs-12 col-md-4 col-fhd-3">
        </div>
        <div id="fadv" class="col-xs-12 col-md-4 col-fhd-3 ">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Breadcrumbs from '../Breadcrumbs'
import SimpleListElement from '../articles/SimpleListElement'
import {
  getApi,
  getSearchQuery
} from '../../vuex/getters'
import {
  setBreadcrumbs,
  startLoader,
  finishLoader
} from '../../vuex/actions'
export default {
  components: {
    Breadcrumbs,
    SimpleListElement
  },
  data: function() {
    return {
      resource: this.$resource(this.api + 'search'),
      list: [],
      page: 1,
      last_page: false
    }
  },
  route: {
    canReuse: false
  },
  vuex: {
    actions: {
      setBreadcrumbs: setBreadcrumbs,
      startLoader: startLoader,
      finishLoader: finishLoader
    },
    getters: {
      api: getApi,
      getSearchQuery: getSearchQuery
    }
  },
  ready() {
    this.startLoader()
    this.fetchArticles()
  },
  methods: {
    fetchArticles() {
      let _this = this
      this.resource.get({
        page: this.page,
        query: this.getSearchQuery || this.searchSlug
      }).then((response) => {
        if (response.data.last_page === this.page) {
          this.last_page = true
        }
        response.data.data.forEach(function(item) {
          _this.list.push(item)
        })
        this.page++
        this.finishLoader()
        this.handleBreadcrumbs()
      })
    },
    handleBreadcrumbs() {
      this.setBreadcrumbs([{
        name: 'search',
        querySlug: 'sss',
        title: 'Wyniki wyszukiwania ' + this.getSearchQuery || this.searchSlug
      }])
    }
  },
  computed: {
    searchSlug() {
      return this.$route.params.querySlug
    }
  }
}
</script>
