<template>
  <div id="app" :class="{ 'full-screen-mode' : fullScreenMode }">
    <heading></heading>
    <section id="main">
      <sidebar></sidebar>
      <router-view></router-view>
    </section>
    <footing></footing>
    <preloader></preloader>
  </div>
</template>
<script>
import swal from 'sweetalert'
import 'sweetalert/dist/sweetalert.css'
import {
  getN4DUser,
  getFullScreenMode
} from './vuex/getters'
import {
  setN4DUser
} from './vuex/actions'
import store from './vuex/store'
import Heading from './components/Heading'
import Footing from './components/Footing'
import Sidebar from './components/Sidebar'
import Preloader from './components/Preloader'
export default {
  vuex: {
    actions: {
      setN4DUser: setN4DUser
    },
    getters: {
      n4dUser: getN4DUser,
      fullScreenMode: getFullScreenMode
    }
  },
  components: {
    Heading,
    Footing,
    Sidebar,
    Preloader
  },
  store, // without ES6 and babel I should white store: store
  created() {
    this.newN4dReleaseInfo()
    this.setN4DUser(window.n4dUser || {})
  },
  methods: {
    newN4dReleaseInfo() {
      if (!window.localStorage.getItem('newN4dReleaseInfo')) {
        swal({
          customClass: 'n4dNews',
          title: '<strong>Wygląda inaczej niż ostatnio?</strong>',
          text: '<div style="text-align: left;">Zapraszamy Cię do aktualnej odsłony serwisu edukacyjnego, w którym znajdziesz zupełnie nowe kategorie:<br><br><ul><li>Algorytmy postępowania</li><li>Przegląd prasy</li><li>Techniki operacyjne</li><li>Dział prawny i gospodarczy</li><li>i wiele innych...</li></ul></div><br>Jeśli chcesz wrócić do materiałów archiwalnych, wybierz z&nbsp;rozwijanego menu kategorię "Archiwum".',
          html: true
        })
        window.localStorage.setItem('newN4dReleaseInfo', 'Witaj w nowej odsłonie')
      }
    }
  }
}
</script>
<style lang="less">
@import 'assets/less/app';
#app.full-screen-mode{
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
#main {
  position: relative;
  padding-bottom: 110px;
  padding-top: 70px;
}
.n4dNews .sa-button-container{
  position: absolute;
  top: -25px;
  right: -4px;
}
.n4dNews  h2{
  margin: 50px 0 5px;
}
</style>
