<template>
  <div class="card m-t-10 m-b-20 visible-xs visible-sm">
    <div class="card-body">
      <a v-link="{ name: 'sponsor', params: { slug: sponsor.slug }}">
        <div class="n4d-partner-container">
          <div class="box">
            <!-- flex item -->
            <img :src="sponsor.featured_img.xs">
          </div>
          <div class="box">
            <!-- flex item -->
            Partner edukacyjny
          </div>
        </div>
      </a>
    </div>
    <ul class="list-unstyled clearfix wpb-actions">
      <li class="w-100">
        <button data-snitch="sponsor-mobile-redirect" class="btn btn-block bgm-n4d-blue btn-sm waves-effect" v-link="{ name: 'sponsor', params: { slug: sponsor.slug }}">Przeczytaj o nas</button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: [
    'sponsor'
  ]
}
</script>
<style lang="less" scoped>
img {
  max-height: 60px;
  width: auto;
}

@media (min-width: 768px) {
  img {
    max-height: 100px;
    width: auto;
  }
}
</style>
