<template>
  <div class="card hidden-xs hidden-sm">
    <div class="card-body">
      <a v-link="{ name: 'sponsor', params: { slug: sponsor.slug }}">
        <div class="n4d-partner-container">
          <div class="box">
            <!-- flex item -->
            <img :src="sponsor.featured_img.xs">
          </div>
          <div class="box">
            <!-- flex item -->
            Partner edukacyjny
          </div>
        </div>
      </a>
    </div>
    <ul class="list-unstyled clearfix wpb-actions">
      <li class="w-100">
        <button v-link="{ name: 'sponsor', params: { slug: sponsor.slug }}" data-snitch="sponsor-sidebar-redirect" class="btn btn-block bgm-n4d-blue btn-sm waves-effect">Przeczytaj o nas</button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: [
    'sponsor'
  ]
}
</script>
